{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div class="container-fluid">
    <form method="GET">
        <div class="container">
            <div class="row">
                <h1>Список группировок:</h1>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">
                            <label for="id_main">Основной объект</label><br>
                            {{ filter.form.main }}
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="ms-auto">
                                    <button type="submit" class="btn btn-primary">Поиск</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i_object in geo_object_map %}
                    <tr>
                        <td>
                            <a href="{% url 'my_geo_id:geo-map-detail' pk=i_object.pk %}">
                                {{ i_object.main.object_name }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'my_geo_id:geo-map-detail' pk=i_object.pk %}">
                                {{ i_object.code_type }}
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="table-active text-center">
                            Нет данных
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </form>
</div>
{% endblock %}