{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div class="container my-5" style="font-size: 1.2em;">
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-primary">Описание веб-приложения ЛК</h1>
        <p class="lead text-muted">--------------</p>
    </div>

    <div class="card shadow-sm mb-5">
        <div class="card-body">
            <h2 class="card-title text-primary">Цель приложения</h2>
            <p class="card-text">
                ЛК - это приложение для идентификации пользователей.
            </p>
        </div>
    </div>

</div>
{% endblock %}