<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %} нет данных {% endblock %}</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dba/css/bootstrap.min.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'dba/js/bootstrap.bundle.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>

{% include 'dba/inc/_nav.html' %}
{% include 'dba/inc/_paginator.html' %}
{% block body %}

{% endblock %}
</body>
</html>
