{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>uir: {{ asset_stats_detail.uir|default:"" }}</h2>
            <p><strong>Последнее обновление карточки:</strong> {{ asset_stats_detail.last_update|default:"" }}</p>
            <p><strong>Количество актуальных строк всего:</strong> {{ asset_stats_detail.actual_row|default:"" }}</p>
            <p><strong>Статус:</strong> {{ asset_stats_detail.status|default:"" }}</p>
            <p><strong>Версия:</strong> {{ asset_stats_detail.version|default:"" }}</p>
            <p><strong>Контрольное значение №1:</strong> {{ asset_stats_detail.control_1|default:"" }}</p>
            <p><strong>Контрольное значение №2:</strong> {{ asset_stats_detail.control_2|default:"" }}</p>
        </div>
    </div>
</div>

{% endblock %}