{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<div class="container">
    <form method="GET">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">
                        <label for="id_name">Имя</label><br>
                        {{ filter.form.name }}
                    </th>
                    <th scope="col">
                        <label for="id_comment">Комментарий</label><br>
                        <div class="d-flex justify-content-between">
                            <div>
                                {{ filter.form.comment|safe }}
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for i_obj in data_model %}
                <tr>
                    <td><a href="{% url 'my_data_asset:data-model-detail' i_obj.id %}">{{ i_obj.name }}</a></td>
                    <td><a href="{% url 'my_data_asset:data-model-detail' i_obj.id %}">{{ i_obj.comment|safe }}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="{% if user.is_superuser %}6{% else %}4{% endif %}">Нет данных для отображения.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}