{% extends 'base.html' %}

{% block title %}
{{ data_table_detail.name }} - Детали таблицы
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h1>Детали таблицы данных</h1>
            <h2>{{ data_table_detail.name }}</h2>
            <p><strong>Описание:</strong> {{ data_table_detail.comment|safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                <a href="{% url 'my_data_asset:data-table' %}" class="btn btn-secondary">Полный список.</a>
                Связанные модели данных
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <td>parent</td>
                    <td>oid</td>
                    <td>name</td>
                    <td>comment</td>
                    <td>type</td>
                    <td>default</td>
                    <td>expression</td>
                    <td>is_nullable</td>
                    <td>is_generated</td>
                    <td>is_check</td>
                    <td>is_unique</td>
                    <td>is_primary_key</td>
                    <td>is_excluded</td>
                </tr>
                </thead>
                <tbody>
                {% for related_model in page_obj %}
                <tr>
                    <td>{{ forloop.counter|default:"" }}</td>
                    <td>
                        {% if related_model.parent.data_table.pk is not none %}
                        <a href="{% url 'my_data_asset:data-table-detail' related_model.parent.data_table.pk %}">
                            {{ related_model.parent.data_table.name }} на {{ related_model.parent.pk }}
                        </a>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                    <td>{{ related_model.oid|default:"" }}</td>
                    <td>{{ related_model.name|default:"" }}</td>
                    <td>{{ related_model.comment|default:"" }}</td>
                    <td>{{ related_model.type|default:"" }}</td>
                    <td>{{ related_model.default|default:"" }}</td>
                    <td>{{ related_model.expression|default:"" }}</td>
                    <td>{{ related_model.is_nullable|default:"" }}</td>
                    <td>{{ related_model.is_generated|default:"" }}</td>
                    <td>{{ related_model.is_check|default:"" }}</td>
                    <td>{{ related_model.is_unique|default:"" }}</td>
                    <td>{{ related_model.is_primary_key|default:"" }}</td>
                    <td>{{ related_model.is_excluded|default:"" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Нет связанных моделей данных.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}