{% extends 'base.html' %}
{% block title %}
{{ data_model_detail.name }} - Детали модели
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Детали модели данных</h1>
            <h2>{{ data_model_detail.name|default:"" }}</h2>
            <p><strong>Описание:</strong> {{ data_model_detail.comment|safe|default:"" }}</p>
        </div>
        <div class="col-md-8">
            <h3>
                <a href="{% url 'my_data_asset:data-table' %}" class="btn btn-secondary">Полный список.</a>
                Связанные таблицы данных
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название модели</th>
                    <th>Комментарий</th>
                </tr>
                </thead>
                <tbody>
                {% for related_model in page_obj %}
                <tr>
                    <td>{{ forloop.counter|default:"" }}</td>
                    <td>
                        <a href="{% url 'my_data_asset:data-table-detail' related_model.id %}">
                            {{ related_model.name|default:"" }}
                        </a>
                    </td>
                    <td>{{ related_model.comment|safe|default:"" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Нет связанных таблиц данных.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}